html,
body,
.wrapper {
    height: 100%;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}


.content {
    width: 100%;
    flex: 1 0 auto;
}

.expandable {
    background: #fff;
    overflow: hidden;
    color: #000;
    line-height: 50px;

    transition: all .5s ease-in-out;
    height: 0;
}

.expandable:target {
    height: 50px;
}


.footer {
    margin-top: 20px;
    height: 80px;
    background-color: antiquewhite;
    flex: 0 0 auto;
    color: skyblue;
}


.word_input,
.translate_input {
    width: 640px;
    padding-left: 20px;
    margin-top: 30px;
}

.img404 {
    display: block;
    margin: auto;
}
